doctype html
// class="u-disable-scrolling"
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= event.name
  link(rel='shortcut icon' type='image/png' href='/img/favicon/favicon.png')
  // INDEX CSS
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/getEventPage.css')
  // LEAFLET's CSS
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css' integrity='sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=' crossorigin='')
// class="u-disable-scrolling"
// NOTE:
// the comments that start with class="" mean that another class could be added or removed to the elemet below it.
// forexample err--active could be added to the div element below it, to make the error container active eg. <div class="err err--active">
// class="err--active"
body#get-event-page(data-event-id=event._id)
  .err
    svg.err__exclamation-icon
      use(xlink:href='/img/sprite.svg#exclamation-icon')
    p.err__message A custom err message
  // add a inline style for background-color
  #image-cover.image-cover.u-cursor-none(style=`background-image: linear-gradient(to right, rgba(3, 72, 125, 0.85), rgba(3, 72, 125, 0.85)), url('/img/events/${event.imageCover}')`)
    .event-info
      .event-info__heading
        h1.heading-primary= event.name
      .event-info__date-location
        .event-info__date
          svg.event-info__date-icon
            use(xlink:href='/img/sprite.svg#calendar-icon')
          p.event-info-date-para= new Date(event.date).toISOString().split('T')[0]
        .event-info__location
          svg.event-info__location-icon
            use(xlink:href='/img/sprite.svg#location-icon')
          p.event-info-location-para= event.location.addressDescription
  .quick-facts
    h2.heading-secondary Quick Facts
    .quick-facts__item
      .quick-facts__heading
        .quick-facts__icon-container
          svg
            use(xlink:href='/img/sprite.svg#time-icon')
        span.quick-facts__item-type Time
      .quick-facts__item-value= `${convertTo12Hour(event.startTime)} — ${convertTo12Hour(event.endTime)}`
    .quick-facts__item
      .quick-facts__heading
        .quick-facts__icon-container
          svg
            use(xlink:href='/img/sprite.svg#check-icon')
        span.quick-facts__item-type Attending
      .quick-facts__item-value=`${event.participants.filter(participant => participant.attending).length} people`
    .quick-facts__item
      .quick-facts__heading
        .quick-facts__icon-container
          svg
            use(xlink:href='/img/sprite.svg#cross-icon')
        span.quick-facts__item-type Not Attending
      .quick-facts__item-value=`${event.participants.filter(participant => !participant.attending).length} people`
  .event-description
    each paragraph in event.description.split('\n')
      p.event-description__text= paragraph
  .map-container.u-margin-bottom-large
    #map.map.map--get-event(data-lng=event.location.coordinates[0] data-lat=event.location.coordinates[1] data-address-description=event.location.addressDescription)
  .participant
    h2.heading-secondary.u-margin-bottom-tiny Participants
    .participant__container
      .participant__attending
        .participant__heading
          .participant__icon-container
            svg
              use(xlink:href='/img/sprite.svg#check-icon')
          span.participant__item-type Attending
        each participant in event.participants
          if participant.attending
            .participant-item
              img.participant-item__profile-picture(src=`/img/users/${participant.picture}` alt=`${participant.name}`)
              span.participant-item__value
                | #{participant.name}
      .participant__not-attending
        .participant__heading
          .participant__icon-container
            svg
              use(xlink:href='/img/sprite.svg#cross-icon')
          span.participant__item-type Not Attending
        each participant in event.participants
          if !participant.attending
            .participant-item
              img.participant-item__profile-picture(src=`/img/users/${participant.picture}` alt=`${participant.name}`)
              span.participant-item__value
                | #{participant.name}    
        //- .participant-item
        //-   img.participant-item__profile-picture(src='/img/users/user-UNDEFINED-ID-1668500784018.jpeg' alt='$USER-NAME$')
        //-   span.participant-item__value
        //-     | Liam
        //- .participant-item
        //-   img.participant-item__profile-picture(src='/img/users/default.jpeg' alt='$USER-NAME$')
        //-   span.participant-item__value
        //-     | Oliver Schwarzenegger

  //- .discussion
  //-   h2.heading-secondary Discussion
  // class="invite__hide"
  .invite
    .invite__description
      .invite__description-box
        h3.invite__title Respond to your invite
    .invite__confirm-wrapper
      #invite__confirm-btn.invite__confirm-btn
        .invite__confirm-content
          .invite__icon-container
            svg
              use(xlink:href='/img/sprite.svg#check-icon')
          span.invite__text accept
    .invite__decline-wrapper
      #invite__decline-btn.invite__decline-btn
        .invite__decline-content
          .invite__icon-container
            svg
              use(xlink:href='/img/sprite.svg#cross-icon')
          span.invite__text decline
    #invite__arrow-btn.invite__arrow-btn
      .invite__arrow-icon-container
        svg
          use(xlink:href='/img/sprite.svg#arrow-icon')
  .arrow-open.arrow-open--hide
    svg
      use(xlink:href='/img/sprite.svg#arrow-icon')
  // class="u-display-hide"
  .overlay.u-display-hide(data-type-of-response='')
    .create-participant
      form.create-participant__form
        .create-participant__heading
          h5.create-participant__title Welcome!
          p.create-participant__text Add your name and a profile picture, to 
            span#respond-text
            |  your invite!
        .create-participant__person-card
          input#upload-profile-picture.form__upload(type='file' accept='image/*' name='profilePicture')
          label#label-profile-picture(for='upload-profile-picture')
            img.create-participant__profile(src='/img/icons/add-photo-icon.jpg' alt='Profile picture')
          input#create-participant__name.create-participant__name-input(type='text' name='fname' placeholder='What is your name...' autocomplete='off' spellcheck='false' maxlength='30' required)
        .create-participant__button-container
          button.create-participant__cancel(type='button')
            | Go back
          button.create-participant__submit
            | Done!
  // LEAFLET's JS
  script(src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js' integrity='sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=' crossorigin='')
  // INDEX JS
  script(src='/js/bundled/index.js')